.xploading_bg{ width:100%; min-height:980px; height:100%; background:#000; filter:alpha(opacity=20); -moz-opacity:0.2; -khtml-opacity: 0.2; opacity: 0.2; position:fixed; left:0px; top:0px; z-index:101; display:none;}
.xploading{ width:130px; height:40px; background:#fff; overflow:hidden; margin:0px auto; position:fixed; left:47%; top:21%; display:none; z-index:102;}
.xploading img{ width:40px; vertical-align:middle; margin:0px 5px;}
a{
    text-decoration: none;
}
/*body{*/
    /*background:#f6edde url('../img/navbar_bg.jpg') center top no-repeat;*/
/*}*/
.loginout{
    float: right;
    text-align: center;
    margin-left: 28px;
    line-height: 28px;
    margin-top: 15px;
    cursor:pointer;
}
a,div,li,ul,span,h4,tbody,thead,tr,th,td,table,p,em{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.wrapper{
    width:1000px;
    margin:0 auto;
    font-size:0;
}
.py{
    display: inline-block;
    vertical-align: top;
}
/*.wrapper .nav-bar{*/
    /*width:100%;*/
    /*height: 60px;*/
/*}*/
/*.wrapper .nav-bar .logo{*/
    /*width:25%;*/
    /*height: 60px;*/
    /*position: relative;*/

/*}*/
/*.wrapper .nav-bar .logo a{*/
    /*display: block;*/
    /*position: absolute;*/
    /*left:0;*/
    /*top:12px;*/
    /*font-size: 0;*/
    /*height: 80px;*/
    /*width:237px;*/
    /*background: red;*/
    /*color:#fff;*/
    /*font-weight: bold;*/
/*}*/
/*237/80*/
/*.wrapper .nav-bar .nav{*/
    /*width:50%;*/
    /*padding:0;*/
    /*height: 60px;*/
    /*list-style: none;*/
/*}*/
/*.wrapper .nav-bar .nav li{*/
    /*display:inline-block;*/
    /*width:80px;*/
    /*height: 60px;*/
    /*font-size:14px;*/

/*}*/
/*#lebo_money{*/
     /*color:#428bca;*/
 /*}*/
/*.wrapper .nav-bar .nav li a{*/
    /*color:#fff;*/
    /*height: 60px;*/
    /*line-height: 60px;*/
    /*text-align: center;*/
    /*display: block;*/
    /*!*background: orange;*!*/
    /*border-bottom: 2px solid transparent;*/
/*}*/
/*.wrapper .nav-bar .nav li a:hover{*/
    /*color:orange;*/
    /*border-bottom: 2px solid orange;*/
/*}*/
/*.wrapper .hader-info{*/
    /*text-align: right;*/
    /*width:25%;*/
    /*height: 60px;*/
    /*color:#FFF;*/
    /*font-size:14px;*/
/*}*/
/*.wrapper .hader-info .user{*/
    /*display: inline-block;*/
    /*line-height: 60px;*/
/*}*/

/*.wrapper .hader-info p{*/
    /*float: right;*/
    /*line-height: 60px;*/
/*}*/
/*.notice{*/
    /*width: 100%;*/
    /*height: 42px;*/
/*}*/
/*.eveb_header_notice{*/
    /*width: 570px;*/
    /*float: right;*/
    /*height: 42px;*/
/*}*/
/*.eveb_header_notice h4{*/
    /*width:10%;*/
    /*font-size: 14px;*/
    /*line-height: 42px;*/
    /*color:#fff;*/
/*}*/
/*.txtScroll{*/
    /*width:90%;*/
    /*height: 42px;*/
/*}*/
/*.txtScroll ul {*/
    /*width:100%;*/
    /*list-style: none;*/
    /*height: 42px;*/

/*}*/
/*.txtScroll ul li{*/
     /*width:100%;*/
     /*height: 42px;*/
     /*line-height: 42px;*/
     /*font-size:14px;*/
     /*color:#fff;*/
 /*}*/
/*.nav-personal{*/
    /*margin-top: 9px;*/
    /*width:100%;*/
    /*height: 50px;*/
    /*background: #643d1a;*/
/*}*/
/*.nav-user{*/
    /*width:100%;*/
    /*height: 50px;*/
/*}*/
/*.nav-user li{*/
    /*display: inline-block;*/
    /*height: 50px;*/
    /*font-size:14px;*/
/*}*/
/*.nav-user li.active a{*/
    /*color:#ff7f00;*/
    /*border-bottom: 2px solid #ff7f00;*/
/*}*/
/*.nav-user li a{*/
    /*color:#FFF;*/
    /*display: block;*/
    /*padding: 0 10px;*/
    /*line-height: 50px;*/
    /*height: 100%;*/
    /*border-bottom: 2px solid transparent;*/
/*}*/
/*.nav-user li.active i.icon_set {*/
    /*background-position: -314px -90px;*/
/*}*/
/*.nav-user li i.icon_set {*/
    /*background-position: -314px -90px;*/
/*}*/
/*.nav-user li.active i.icon_record {*/
    /*background-position: -263px -89px;*/
/*}*/
/*.nav-user li i.icon_record {*/
    /*background-position: -263px -89px;*/
/*}*/
/*.nav-user li.active i.icon_letter {*/
    /*background-position: -165px -90px;*/
/*}*/
/*.nav-user li i.icon_letter {*/
    /*background-position: -165px -90px;*/
/*}*/
/*.nav-user li i.icon_market {*/
    /*background-position: -214px -91px;*/
/*}*/
/*.nav-user li.active i.icon_transfer {*/
    /*background-position: -115px -91px;*/
/*}*/
/*.nav-user li i.icon_transfer {*/
    /*background-position: -115px -91px;*/
/*}*/

/*.nav-user li.active i.icon_withdraw {*/
    /*background-position: -65px -89px;*/
/*}*/
/*.nav-user li i.icon_withdraw {*/
    /*background-position: -65px -89px;*/
/*}*/
/*.nav-user li i.icon_home{*/
    /*background-position: -364px -90px;*/
/*}*/
/*.nav-user li.active i.icon_home{*/
    /*background-position: -364px -90px;*/
/*}*/
/*.nav-user li i.icon_bank{*/
    /*background-position: -16px -89px;*/
/*}*/
/*.nav-user li.active i.icon_bank{*/
    /*background-position: -16px -89px;*/
/*}*/
/*.nav-user li.active i.icon_market {*/
    /*background-position: -214px -91px;*/
/*}*/
/*.nav-user li.active i{*/
    /*float: left;*/
    /*width: 30px;*/
    /*margin-top: 15px;*/
    /*height: 30px;*/
    /*background: url(../img/icon_1.png);*/
    /*vertical-align: middle;*/
    /*overflow: hidden;*/
    /*cursor: pointer;*/
/*}*/
/*.nav-user li i{*/
    /*float: left;*/
    /*width: 30px;*/
    /*margin-top: 15px;*/
    /*height: 30px;*/
    /*background: url(../img/icon.png);*/
    /*vertical-align: middle;*/
    /*overflow: hidden;*/
    /*cursor: pointer;*/
/*}*/
.container{
    width:100%;
    padding:30px;
    min-height: 600px;
    background: #fff;
    box-shadow: 0 1px 5px #bbb;
    margin-bottom: 100px;
}
a{
    color:#666;
}


